.eslintrc
jsconfig.json
package.json
package-lock.json
project.json
tsconfig.json
*.meta
assets/textures/
assets/resources/
assets/audio/
assets/font/
build/
library/
local/
settings/
temp/
packages/
